<html lang="en" class="h-100">
<script type="module" src="chrome-extension://jdkknkkbebbapilgoeccciglkfbmbnfm/hook.js"></script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.101.0">
  <title>SMA</title>

  <!-- Favicons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <meta name="theme-color" content="#712cf9">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>


 
  <style type="text/css">
    button.btn[data-v-5f0b9ba1] {
      display: inline-block;
      font-weight: 300;
      line-height: 1.25;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      cursor: pointer;
      letter-spacing: 1px;
      transition: all .15s ease
    }

    button.btn.btn-sm[data-v-5f0b9ba1] {
      padding: .4rem .8rem;
      font-size: .8rem;
      border-radius: .2rem
    }

    button.btn.btn-primary[data-v-5f0b9ba1] {
      color: #fff;
      background-color: #45C8F1;
      border-color: #45C8F1
    }

    button.btn.btn-outline-primary[data-v-5f0b9ba1] {
      color: #45C8F1;
      background-color: transparent;
      border-color: #45C8F1
    }

    button.btn.btn-danger[data-v-5f0b9ba1] {
      color: #fff;
      background-color: #FF4949;
      border-color: #FF4949
    }

    .text-muted[data-v-5f0b9ba1] {
      color: #8492A6
    }

    .text-center[data-v-5f0b9ba1] {
      text-align: center
    }

    .drop-down-enter[data-v-5f0b9ba1],
    .drop-down-leave-to[data-v-5f0b9ba1] {
      transform: translateX(0) translateY(-20px);
      transition-timing-function: cubic-bezier(0.74, 0.04, 0.26, 1.05);
      opacity: 0
    }

    .drop-down-enter-active[data-v-5f0b9ba1],
    .drop-down-leave-active[data-v-5f0b9ba1] {
      transition: all .15s
    }

    .move-left-enter[data-v-5f0b9ba1],
    .move-left-leave-to[data-v-5f0b9ba1] {
      transform: translateY(0) translateX(-80px);
      transition-timing-function: cubic-bezier(0.74, 0.04, 0.26, 1.05);
      opacity: 0
    }

    .move-left-enter-active[data-v-5f0b9ba1],
    .move-left-leave-active[data-v-5f0b9ba1] {
      transition: all .15s
    }

    .no-tr[data-v-5f0b9ba1] {
      transition: none !important
    }

    .no-tr *[data-v-5f0b9ba1] {
      transition: none !important
    }

    .overlay[data-v-5f0b9ba1] {
      position: fixed;
      background: rgba(220, 220, 220, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.2s ease;
      opacity: 0;
      visibility: hidden
    }

    .overlay .modal[data-v-5f0b9ba1] {
      transition: all 0.2s ease;
      opacity: 0;
      transform: scale(0.6);
      overflow: hidden
    }

    .overlay.show[data-v-5f0b9ba1] {
      opacity: 1;
      visibility: visible
    }

    .overlay.show .modal[data-v-5f0b9ba1] {
      opacity: 1;
      transform: scale(1)
    }

    .panel[data-v-5f0b9ba1] {
      padding: 6px 10px;
      display: flex;
      width: 100%;
      box-sizing: border-box;
      align-items: center;
      border-radius: 4px;
      position: relative;
      border: 1px solid #eaf7ff;
      background: #f7fcff;
      outline: none;
      transition: all 0.07s ease-in-out
    }

    .btn[data-v-5f0b9ba1] {
      cursor: pointer;
      box-sizing: border-box
    }

    .light-btn[data-v-5f0b9ba1] {
      padding: 6px 10px;
      display: flex;
      width: 100%;
      box-sizing: border-box;
      align-items: center;
      border-radius: 4px;
      position: relative;
      border: 1px solid #eaf7ff;
      background: #f7fcff;
      outline: none;
      cursor: pointer;
      transition: all 0.07s ease-in-out
    }

    .light-btn[data-v-5f0b9ba1]:hover {
      background: #e0f4ff;
      border-color: #8acfff
    }

    .shake[data-v-5f0b9ba1] {
      animation: shake-data-v-5f0b9ba1 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0)
    }

    @keyframes shake-data-v-5f0b9ba1 {

      10%,
      90% {
        transform: translate3d(-1px, 0, 0)
      }

      20%,
      80% {
        transform: translate3d(2px, 0, 0)
      }

      30%,
      50%,
      70% {
        transform: translate3d(-4px, 0, 0)
      }

      40%,
      60% {
        transform: translate3d(4px, 0, 0)
      }
    }

    .pulse[data-v-5f0b9ba1] {
      animation: pulse-data-v-5f0b9ba1 2s ease infinite
    }

    @keyframes pulse-data-v-5f0b9ba1 {
      0% {
        opacity: .7
      }

      50% {
        opacity: .4
      }

      100% {
        opacity: .7
      }
    }

    .flash-once[data-v-5f0b9ba1] {
      animation: flash-once 3.5s ease 1
    }

    @keyframes fade-up-data-v-5f0b9ba1 {
      0% {
        transform: translate3d(0, 10px, 0);
        opacity: 0
      }

      100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
      }
    }

    .fade-in[data-v-5f0b9ba1] {
      animation: fade-in-data-v-5f0b9ba1 .3s ease-in-out
    }

    @keyframes fade-in-data-v-5f0b9ba1 {
      0% {
        opacity: 0
      }

      100% {
        opacity: 1
      }
    }

    .spin[data-v-5f0b9ba1] {
      animation-name: spin-data-v-5f0b9ba1;
      animation-duration: 2000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear
    }

    @keyframes spin-data-v-5f0b9ba1 {
      from {
        transform: rotate(0deg)
      }

      to {
        transform: rotate(360deg)
      }
    }

    .bounceIn[data-v-5f0b9ba1] {
      animation-name: bounceIn-data-v-5f0b9ba1;
      transform-origin: center bottom;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-iteration-count: 1
    }

    @keyframes bounceIn-data-v-5f0b9ba1 {

      0%,
      20%,
      40%,
      60%,
      80%,
      100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
      }

      0% {
        opacity: 1;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8)
      }

      20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
      }

      40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9)
      }

      60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
      }

      80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97)
      }

      100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
      }
    }

    @keyframes dots-data-v-5f0b9ba1 {

      0%,
      20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0)
      }

      40% {
        color: #8492A6;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0)
      }

      60% {
        text-shadow: 0.25em 0 0 #8492A6, 0.5em 0 0 rgba(0, 0, 0, 0)
      }

      80%,
      100% {
        text-shadow: .25em 0 0 #8492A6, .5em 0 0 #8492A6
      }
    }

    @keyframes recording-data-v-5f0b9ba1 {
      0% {
        box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, 0.3)
      }

      65% {
        box-shadow: 0px 0px 5px 5px rgba(173, 0, 0, 0.3)
      }

      90% {
        box-shadow: 0px 0px 5px 5px rgba(173, 0, 0, 0)
      }
    }

    body[data-v-5f0b9ba1] {
      margin: 0;
      font-size: 100%;
      color: #3C4858
    }

    a[data-v-5f0b9ba1] {
      text-decoration: none;
      color: #45C8F1
    }

    h1[data-v-5f0b9ba1],
    h2[data-v-5f0b9ba1],
    h3[data-v-5f0b9ba1],
    h4[data-v-5f0b9ba1] {
      margin-top: 0
    }

    svg[data-v-5f0b9ba1] {
      outline: none
    }

    .container_selected_area[data-v-5f0b9ba1] {
      display: none;
      visibility: hidden;
      padding: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2147483647
    }

    .container_selected_area.active[data-v-5f0b9ba1] {
      visibility: visible;
      display: block
    }

    .container_selected_area .label[data-v-5f0b9ba1] {
      font-family: "Didact Gothic Regular", sans-serif;
      font-size: 22px;
      text-align: center;
      padding-top: 15px
    }

    .container_selected_area .area[data-v-5f0b9ba1] {
      display: none;
      position: fixed;
      z-index: 2147483647;
      border: 1px solid #1e83ff;
      background: rgba(30, 131, 255, 0.1);
      box-sizing: border-box
    }

    .container_selected_area .area.active[data-v-5f0b9ba1] {
      display: block;
      top: 0;
      left: 0
    }

    .hide[data-v-5f0b9ba1] {
      display: none
    }
  </style>
</head>

<body class="d-flex h-100 text-center text-bg-dark" data-new-gr-c-s-check-loaded="14.1068.0" data-gr-ext-installed=""
  cz-shortcut-listen="true">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Mixto</h3>
        <!-- <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
    </nav> -->
      </div>
    </header>

    <main class="px-3">
      <h1>Coming Soon</h1>
      <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
      <!-- <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
  </p> -->
    </main>

    <footer class="mt-auto text-white-50">
      <p>Secure</p>
    </footer>
  </div>
  <div id="scrnli_recorder_root"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>